<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Google Cloud Platform</title>
    <link rel="shortout icon" type="image/x-icon" href="static/gcplogo.png">
    <link rel="stylesheet" href="static/css/java.css" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <div class="contact-info">
          <h3 class="title"><b><center><font color="#1b8079">GCP Sub-Topics</font></center></b></h3>
          <p class="text">
            <center><img class="imgflow" src="static/gcplogo.png" width="330" height="330"></center>
          </p>
        </div>

        <div class="contact-form">
          <form>
			<a href="gcpbasics" class="buttonfx c-btn">BASICS</a>
            <a href="gcpcompute" class="buttonfx c-btn">COMPUTE</a>
            <a href="gcpstorage" class="buttonfx c-btn">STORAGE</a>
            <a href="gcpdb" class="buttonfx c-btn">DATABASE</a>
            <a href="gcpanalytics" class="buttonfx c-btn">ANALYTICS</a>
            <a href="gcpnet" class="buttonfx c-btn">NETWORKING</a>
            <a href="gcpsec" class="buttonfx c-btn">SECURITY & IAM</a>
            <a href="gcpai" class="buttonfx c-btn">AI / ML</a>

            <a href="gcpkub" class="buttonfx c-btn">KUBERNETES</a>
            <a href="gcpbb" class="buttonfx c-btn">BIG DATA</a>
            <a href="gcpiot" class="buttonfx c-btn">IOT</a>
            
          </form>
        </div>
      </div>
    </div>
  </body>
</html>