<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazon Web Services</title>
    <link rel="shortout icon" type="image/x-icon" href="static/awslogo.png">
    <link rel="stylesheet" href="static/css/java.css" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  </head>
  <body>
  
    <div class="container">
	<center><a style="color:brown" href="selection">Back </a><center><br>
      <div class="form">
        <div class="contact-info">
          <h3 class="title"><b><center><font color="#1b8079">AWS Sub-Topics</font></center></b></h3>
          <p class="text">
            <center><img class="imgflow" src="static/awslogo.png" width="330" height="330"></center>
          </p>
        </div>

        <div class="contact-form">
          <form>
            <a href="awsbasics" class="buttonfx c-btn">BEGINNER</a><br><br><br>
            <a href="awsinter" class="buttonfx c-btn">INTERMEDIATE</a><br><br><br>
            <a href="awsadv" class="buttonfx c-btn">ADVANCED</a>



          </form>
        </div>
      </div>
    </div>
  </body>
</html>