<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot your password</title>
	<link rel ="icon" type="image/png" href="{{url_for('static', filename='favicon-cash.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-32x32.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="logo mt-3 text-center">
        <a class="main-logo-img mt-5" href="#"><img src="{{url_for('static', filename='favicon-cash.png')}}"></a>
    </div>
    <div class="login text-center mt-5"> 
        <h2> Forgot your password </h2><br>
        <form  method="post">
        <div class="msg">{{ msg }}</div>           
         
			<input type="email" name="email" placeholder="Enter Your Email ID"  id="email" required></br></br>
		
            </br>           
        <button type="submit" id="button" class="btn btn-primary"> Verify </button>
    
        </form>
    </div>
    <div class="note mt-3 text-center"> 
    <p> Already have an account?<a href="/login"> Sign In </a> </p>   
    </div>
</body>
</html>

